/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: #B3E5FC;
}

/* Box for wrapping each section */
.box {
  border: 2px solid #000;
  padding: 20px;
  margin: 20px auto;
  width: 60%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

/* Unique colors for each box */
.fluoridation-box {
  background-color: #E8EAF6;
}

.treemap-box {
  background-color: #E1F5FE;
}

.map-box {
  background-color: #E0F7FA;
}

.barchart-box {
  background-color: #E3F2FD;
}

.stackbar-box {
  background-color: #E0F2F1;
}
.source-box{
  background-color: #E8F5E9;
}

/* Center the h2 heading */
h2 {
  text-align: center;
}

/* Center and align the description and list content */
.content p,
p {
  text-align: justify;
  margin: 0 auto;
  word-wrap: break-word;
  max-width: 500px; /* Adjust width to fit around 20 words per line */
  text-align-last: left; /* Forces the last line to be left-aligned */
  line-height: 1.8; /* Increase line height for readability */
}

/* Adjust the list styling */
ul {
  list-style-position: inside;
  margin-left: 0; /* Remove margin for alignment */
  padding-left: 0; /* Remove padding to align with the description */
}

li {
  margin-bottom: 10px;
}

/* Center visualizations */
#treemap{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; /* Reduce the width to give more room */
  max-width: 750px; /* Ensure the charts fit within the container */
  box-sizing: border-box;
}

/* Ensure visualizations fit inside the box without centering */
#pointmap, #barchart, #stackbar {
  width: 100%;  /* Ensure the visualization takes full width inside the box */
  max-width: 100%;  /* Prevent it from overflowing */
  height: auto;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center both the image and the title */
}

.title-image {
  height: 200px; /* Adjust the height of the image */
  width: 400px;
  margin-right: 15px; /* Space between the image and the title */
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

#l-align {
    text-align: left;
    
}
