body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2, p {
  margin: 5px 0; /* Reduce margin to reduce spacing */
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Adjust the spacing below charts */
}

#pointmap {
    top: 100px;
    margin-bottom: 0px; /* Adjust this to reduce space */
}

p {
    margin-top: 10px; /* Reduce the space above the text */
}
